@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

* {
    font-family: Roboto;
    box-sizing: border-box;
    font-size: 1rem;
    font-size: calc(60% + 0.8vmin);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #111;
}

.main {
    width: 96%; 
    padding: 0px 10%;
    /* border: 1px red solid; */
    margin: 3rem 2rem 2rem 2rem;
    /* font-size: calc(20px + 1vmin);
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.7); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38vh;
    /* border: 1px red solid; */
}

.main img {
    transition: transform 0.5s;
    transition-delay: 0s;
    height: 100%;
}

.main img:hover {
    transform: scale(1.3);
    transition-delay: 0.3s;
}